.root {
    -fx-padding: 20 ;
    cell-color: white ;
    cell-border-color: lightgray ;
}
.grid {
    /* 1 pixel border around the top and right of the grid: */
    -fx-background-color: cell-border-color, cell-color ;
    -fx-background-insets: 0, 0 0 0 0 ;
    -fx-padding: 1 ;
}
.cell {
    /* 1 pixel border around the left and bottom of each cell: */
    -fx-background-color: cell-border-color, cell-color ;
    -fx-background-insets: 0, 1 1 1 1 ;
}

.fullblock {
    -fx-background-color: lightgreen;
    -fx-border-color: darkgreen;
}

.cobblewall {
    -fx-background-color: lightgray;
    -fx-border-color: darkgray;
}

.fence {
    -fx-background-color: yellow;
    -fx-border-color: brown;
}